NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_LOGIN_METHODS=email
BIRDEYE_API_KEY=
ALCHEMY_SOLANA_RPC_URL=
NEXT_PUBLIC_JUPITER_API_BASE=https://quote-api.jup.ag/v6
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
